<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>Pensjon-pol-innsyn</display-name>

    <servlet>
        <servlet-name>Innsyn</servlet-name>
        <servlet-class>InnsynServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ping</servlet-name>
        <servlet-class>PingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IsReady</servlet-name>
        <servlet-class>IsReadyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Innsyn</servlet-name>
        <url-pattern>/innsyn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ping</servlet-name>
        <url-pattern>/ping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IsReady</servlet-name>
        <url-pattern>/isReady</url-pattern>
    </servlet-mapping>

</web-app>